{% extends 'base.html' %}

{% block title %}
	ToDo Django - Login
{% endblock title %}

{% block content %}
	<div>
		<h1>Login</h1>
		<form method="post" class="w-50 mt-3">
			{% csrf_token %}
			{% if form.non_field_errors %}
				<div class="form-error alert alert-danger mt-2">
					{% for error in form.non_field_errors %}
						<p class="mb-0">
							{{ error }}
						</p>
					{% endfor %}
				</div>
			{% endif %}
			{% for f in form %}
				<div class="mb-3">
					{% if f.name == 'remember_me' %}
						{{ f }}
						<label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
						{% if f.errors %}
							<div class="form-error alert alert-danger mt-2">
								{% for error in f.errors %}
									<p class="mb-0">
										{{ error }}
									</p>
								{% endfor %}
							</div>
						{% endif %}
					{% else %}
						<label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
						{{ f }}
						{% if f.errors %}
							<div class="form-error alert alert-danger mt-2">
								{% for error in f.errors %}
									<p class="mb-0">
										{{ error }}
									</p>
								{% endfor %}
							</div>
						{% endif %}
					{% endif %}
				</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
{% endblock content %}