{% extends 'base.html' %}

{% block title %}
	ToDO Django - Create category
{% endblock title %}

{% block content %}
	<div>
		<h1>Create category</h1>
		<form action="" method="post" class="mt-4 w-50">
			{% csrf_token %}
			{% for f in form %}
				<div class="mb-3">
					<label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
					{{ f }}
					<div class="form-error mt-3">
						{% if f.errors %}
							<div class="alert alert-danger" role="alert">
								<p class="mb-0">{{ f.errors }}</p>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary">Create</button>
		</form>
	</div>
{% endblock content %}